<% sorted_cities = @cities.sort_by { |c| c.name } %>
<%= form_tag "/cities", method: "get" do %>
  <%= label_tag "Compare" %>
  <%= collection_select nil, :c0, sorted_cities, :id, :name, selected: @c0.id %>
  <%= collection_select nil, :c1, sorted_cities, :id, :name, selected: @c1.id %>
  <%= submit_tag("Compare") %>
<% end %>

<% if @c0 && @c1 %>
<h1>Comparison</h1>
<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th><%= @c0[:name] %></th>
      <th><%= @c1[:name] %></th>
    </tr>
  </thead>

  <tbody>
    <% City::CATEGORIES.each do |sym,str| %>
      <tr>
        <td><%= str %></td>
        <td><%= @c0[sym] %></td>
        <td><%= @c1[sym] %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<% end %>

<h1>Listing cities</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Original</th>
      <th>Points</th>
      <th>City</th>
    </tr>
  </thead>

  <tbody>
    <% rank = 1 %>
    <% @info.each do |city,info| %>
      <tr>
        <td><%= rank %></td>
        <td><%= city.original_rank %></td>
        <td><%= info[:points].round(2) %></td>
        <td><%= city.name %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% rank = rank + 1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
